# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\UniTNTProjects\GiocoDel15\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
